<h2><%= @form.name %></h2>
<h3><%= @form.description %></h3>

<%= form_with model: @submission, method: :post do |form| %>
  <%= form.hidden_field :form_id, value: @form.id %>
  <% @form.fields.each do |field| %>
    <% view = field.field_type.view %>
    <%= render view, field: field %>
  <% end %>
  <%= form.submit 'Submit Answers' %>
<% end %>

<hr>

<h2>Submissions</h2>

<h4>Submitted On:</h4>
<ul>
  <% @form.submissions.each do |submission| %>
    <li><%= link_to submission.created_at, submission_path(submission) %></li>
  <% end %>
</ul>