<% title = (current_user.owns_form?(@form) ? "#{@form.name} (preview)" : @form.name) %>
<h2><%= title %></h2>
<h3><%= @form.description %></h3>
<% unless current_user.owns_form?(@form) %>
  <p>Created by <%= @form.user.username %></p>
<% end %>

<%= form_with model: @submission, method: :post do |form| %>
  <%= form.hidden_field :form_id, value: @form.id %>
  <% @form.fields.each do |field| %>
    <% view = field.field_type.view %>
    <%= render view, field: field %>
  <% end %>
  <% unless current_user.owns_form?(@form) %>
    <%= form.submit 'Submit Answers' %>
  <% end %>
<% end %>

<% if current_user.owns_form?(@form) %>
  <h2>Submissions</h2>

  <% if @form.submissions.any? %>
    <ul>
      <% @form.submissions.each do |submission| %>
        <li><%= link_to "#{submission.user.username} submitted on #{format_date(submission.created_at)}", submission_path(submission) %></li>
      <% end %>
    </ul>
  <% else %>
    <p>Looks like no one has filled this form out yet.</p>
  <% end %>
<% end %>