<!DOCTYPE html>
<html>
  <head>
    <title>FormYoulate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <h1>FormYoulate</h1>
      <nav>
        <ul>
          <li><%= link_to 'Home', root_path %></li>
          <% if logged_in? %>
            <li><%= link_to 'Forms', forms_path %></li>
            <li><%= link_to 'Sign Out', signout_path, method: :delete, data: { "turbo-method": 'delete' } %></li>
          <% else %>
            <li><%= link_to 'Sign In', signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
